{% extends 'main/base.html' %}

{% block title %}
About Nikita
{% endblock %}


{% block content %}
<h1>Job History</h1>
<h3>EPAM - QA Automation Course</h3>
<details>
    <p>&nbsp;</p>
        <summary>Click to see the Details</summary>
<p><span aria-hidden="true">Completed <strong>QA Automation course</strong>, where I've got:<br />- Understanding of SDLC, Agile methodologies;<br />- Knowledge of testing techniques, test design techniques. <br />- Analyzing and clarification of requirements; Establishing estimations;<br />- Experience with Virtualization, Unix-based systems without UI;<br />- Experience with VCS, Jira, Jenkins and Docker;<br />- Python (PyTest, Selenium);</span></p>
    </details>
<h3>StartUp</h3>
<details>
    <p>&nbsp;</p>
    <summary>Click to see the Details</summary>
<p><span aria-hidden="true">Worked primarily with online stores and blogs. During these four years in one small company my duties changed many times:<br />- SEO-related content management;<br />- Meta editing, SEO-writing, Link building;<br />- Creating E-commerce sites (WordPress) and blogs;<br />- QA and QC of E-commerce sites;<br />- Payment systems testing;<br />- Competitors analysis; Keyword analysis;<br />- Partially Project management - identification of customer requirements, creating and assignment of tasks among devs, copywriters and freelancers. Making final quality control of the whole project.</span></p>
    </details>
{% endblock %}
